.about-us-container {
    padding: 20px;
    max-width: fit-content;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  .about-us-container h1, .about-us-container h2 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  
  .about-us-container p {
    font-size: 1.2em;
  }
  
  .team-members {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .team-member {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: calc(50% - 20px);
    box-sizing: border-box;
  }
  
  .team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .team-member h3 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  
  .team-member .role {
    color: #555;
    font-style: italic;
  }
  
  .team-member .bio {
    margin-top: 10px;
  }
  
  .goals {
    margin-top: 40px;
  }
  
  .goals ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .goals ul li {
    margin-bottom: 10px;
  }