.l-home{
  width: 50vw;
  height: 85vh;
  padding: 150px 100px 100px 100px;
}
.l-home h1{
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 30px;
}
.l-home p{
    font-size: 20px;
    padding-bottom: 30px;
}
.l-home btn{
    position: relative;
    margin-top: 10px;
}
